# 通用 node_modules
node_modules/
pet/node_modules/
server/node_modules/

# 前端 build
pet/dist/
pet/dist-ssr/

# env 機密檔案
.env
.env.*

# log 檔
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 系統 / 編輯器
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea